.cards {
    padding-top: 300px;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% -16%;
    position: relative;
    background-image: url("https://www.dccomics.com/sites/default/files/Char_GetToKnow_Joker2_5ed6f1ebdbb351.25308490.png");
    display: flex;
    flex-wrap: wrap;

    .card {
        flex-basis: calc(100% / 6 - 20px);
        margin: 10px 10px;
    }
}

.title-comics {
    color: $title-comics-color;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    position: absolute;
    top: 20%;
    left: 20%;
}
.card-title {
    color: $title-comics-color;
}

.card-price {
    color: $text-color;
}
