// HEADER STYLES

.header-content {
    height: 90px;
    display: flex;
    align-items: center;
    img {
        width: 70px;
    }
}

.header-nav {
    list-style: none;
    display: flex;
    // height: 100%;
    li {
        line-height: 90px;
    }
    a {
        display: inline-block;
        font-size: 1.25rem;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 1rem;
        color: $link-color;
        font-weight: 700;
        &.active {
            color: $brand-color;
            border-bottom: 2px solid;
        }
    }
}
